@charset "UTF-8";
body{
    background-image: url(../img_home/background.png); 
    background-repeat: repeat;
    display: block;
}
.wrapper{
    max-width: 1000px;
    padding: 0 20px;
    margin: 0 auto 120px;
}

.header-inner{
    border-width: 0 0 10px 0; /* 下だけ10px */
    border-style: solid; /* 必須：border-imageを適用するにはスタイルが必要 */
    border-image: url(../img_home/double_line.svg) 30 stretch; /* 画像のスライスと適用方法を指定 */
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 4.8%;
    padding-right: 4.8%;
    z-index: 9000
}

.logo img{
    max-width: 150px;
    line-height: 0;
}

.logo a{
    display: block;
}

#header .navi{
    display: flex;
    align-items: center;
}

#header .navi li{
    font-size: 18px;
    margin-left: 40px;
}

.concept{
    background: url(../img_home/hourglass.png) no-repeat center center / 100% 100%;
    position: relative;
    height: 95%;
}

.maintext{
    writing-mode: vertical-lr;
    margin-top: 135px;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    letter-spacing: 0.1em;
}

.subtext{
    font-size: 16px;
    letter-spacing: 0.05em;
    position: absolute;
    top: 15%;
    left: 12%;
    line-height: 2.8;
}

#works .section-title img{
    margin: 0 auto;
    display: block;
    margin-bottom: 60px;
}

#works content{
    margin: 0 auto;
    bottom: 60px
}

#works .btn{
    font-size: 48px;
    text-align: right;
    margin-top: 60px;
}

#works .btn a{
    position: relative;
}

#works .btn a::before{
    position: absolute;
    content: "";
    width: 85px;
    height: 2px;
    background: #41403c;
    left: -100px;
    top:30px
}

#works .btn a::after{
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background: #B81905;
    border-radius: 50%;
    left: -97px;
    top:26px;
    transition: .7s;
    transition-timing-function: ease-in-out;
}

#works .btn a:hover::after{
    left:-27px
}


#service .section-title img{
    width: 100%;
    padding-bottom: 40px;
    border-width: 0 0 5px 0;
    border-style: solid;
    border-image: url(../img_home/horizon_line.svg) 30 stretch;
}

#service .service-item{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

#service .service-item li:first-child{
    grid-column: 1/3;
    grid-row: 1/3;
    padding-right: 20px;
    border-width: 0 3px 0 0;
    border-style: solid;
    border-image: url(../img_home/vertical_line.svg) 30 stretch;
}

#service .service-item li:nth-child(2){
    grid-column: 3/6;
    grid-row: 1/2;
    padding-left: 20px;
    border-width: 0 0 5px 0;
    border-style: solid;
    border-image: url(../img_home/horizon_line.svg) 30 stretch;
}

#service .service-item li:nth-child(3){
    grid-column: 3/6;
    grid-row: 2/3;
    padding-left: 20px;
}

#service .service-item h3{
    font-size: 40px;
    margin-bottom: 20px;
}

#service .service-item li{
    padding-top: 40px;
}

#service .service-item li p{
    line-height: 2.8;
}

#about .about-container{
    padding-top: 60px;
    padding-left: 85px;
    padding-right: 85px;
    border-width: 5px 0 5px 0;
    border-style: solid;
    border-image: url(../img_home/horizon_line.svg) 30 stretch;
    position: relative;
}

#about .about-container::before{
    position: absolute;
    content: "";
    width: 3px;
    height: 100%;
    background-image: url(../img_home/vertical_line.svg);
    top: 0;
    left: 0;
}

#about .about-container::after{
    position: absolute;
    content: "";
    width: 3px;
    height: 100%;
    background-image: url(../img_home/vertical_line.svg);
    top: 0;
    right: 0;
}

#about h3{
    font-size: 86px;
    margin-bottom: 60px;
}

#about .detail{
    line-height: 2.8;
    margin-bottom: 60px;
}

#about .profile-container li p{
    line-height: 2.8;
}

#about .profile-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

#about .profile-container li:first-child{
    grid-column: 1/4;
    grid-row: 1/2;
}

#about .profile-container li:nth-child(2){
    grid-column: 1/4;
    grid-row: 2/3;
}

#about .profile-container li:nth-child(3){
    grid-column: 4/6;
    grid-row: 1/3;
}

#skill{
    display: flex;
}

#skill .title{
    margin-right: 70px;
}

#skill .title h3{
    font-size: 40px;
    text-align: start;
}

#skill .skill-list ul{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}

#skill .skill-list li{
    font-size: 28px;
    text-align: center;
    width: 135px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#skill .skill-list li::before{
    position: absolute;
    content: "";
    width: 2px;
    height: 100%;
    background: #41403c;
    left: 0;
}

#skill .skill-list li::after{
    position: absolute;
    content: "";
    width: 2px;
    height: 100%;
    background: #41403c;
    right: 0;
}

#tool{
    display: flex;
}

#tool .title{
    margin-right: 60px;
}

#tool .title h3{
    font-size: 40px;
    text-align: start;
}

#tool .tool-list ul{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}

#tool .tool-list li{
    font-size: 28px;
    text-align: center;
    width: 135px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#tool .tool-list li::before{
    position: absolute;
    content: "";
    width: 2px;
    height: 100%;
    background: #41403c;
    left: 0;
}

#tool .tool-list li::after{
    position: absolute;
    content: "";
    width: 2px;
    height: 100%;
    background: #41403c;
    right: 0;
}

#contact{
    border-width: 10px 0 0 0; /* 上だけ10px */
    border-style: solid; /* 必須：border-imageを適用するにはスタイルが必要 */
    border-image: url(../img_home/double_line.svg) 30 stretch; /* 画像のスライスと適用方法を指定 */
}

#contact h2::before{
    position: absolute;
    content: "";
    background: #41403c;
    width: 655px;
    height: 3px;
    top: -62px;
}

#contact h2{
    font-size: 127px;
    text-align: center;
    margin: 60px 0 60px 0;
    position: relative;
}

#contact p{
    text-align: center;
    line-height: 1.87;
}

#contact .btn{
    font-size: 20px;
    margin-top: 60px;
    margin-bottom: 100px;
    text-align: center;
}

#contact .btn a{
    position: relative;
}

#contact .btn a::before{
    position: absolute;
    content: "";
    width: 150px;
    height: 2px;
    background: #41403c;
    top: 35px;
    left: -10px;
}

#contact .btn a::after{
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background: #B81905;
    border-radius: 50%;
    left: -7px;
    top: 31px;
    transition: .7s;
    transition-timing-function: ease-in-out;
}

#contact .btn a:hover::after{
    left: 127px
}

#footer .footer-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 4.8% 60px 4.8%;
    border-width: 5px 0 0 0; /* 上だけ10px */
    border-style: solid; /* 必須：border-imageを適用するにはスタイルが必要 */
    border-image: url(../img_home/horizon_line.svg) 30 stretch; /* 画像のスライスと適用方法を指定 */
}

#footer .navi{
    display: flex;
    align-items: center;
}

#footer .navi li{
    font-size: 18px;
    margin-left: 40px;
}

#footer p{
    text-align: center;
    margin-top: 140px;
    margin-bottom: 60px;
}

.to-top{
    position: fixed;
    bottom: 50px;
    right: 2.2%;
}

.to-top a{
    writing-mode: vertical-lr;
}

.to-top a::before{
    position: absolute;
    content: "";
    width: 2px;
    height: 50px;
    background: #41403c;
    top: -62px;
    left: 7px;
}

.to-top a::after{
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background: #B81905;
    border-radius: 50%;
    top: -25px;
    left: 3px;
    transition: .7s;
    transition-timing-function: ease-in-out;
}

.to-top a:hover::after{
    top: -59px
}

/*worksページ*/
.works-tittle{
    text-align: center;
    margin-top: 120px;
    margin-bottom: 120px;
}

#works-list ul{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

#works-list .box{
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#works-list .box img{
    align-items: center;
    justify-content: center;
}

#works-list .tab{
    border: #41403c solid 1px;
    width: 85px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

#works-list .tittle{
    margin-left: 20px;
    margin-bottom: 40px;
}

#works-list li{
    border-width: 0 0 4px 0;
    border-style: solid;
    border-image: url(../img_home/horizon_line.svg) 30 stretch;
    position: relative;
}

#works-list li::before{
    position: absolute;
    content: "";
    width: 2px;
    height: 100%;
    background-image: url(../img_home/vertical_line.svg);
    top: 0;
    right: 0;
}

/*これが違う？右端の縦線を消したい
#works-list li:nth-child(3n){
    background-image: none;
}

/*works-itemページ*/
.works-item-tittle{
    border-width: 0 0 3px 0;
    border-style: solid;
    border-image: url(../img_home/horizon_line.svg) 30 stretch;
    margin-top: 120px;
    margin-bottom: 120px;
}

.works-item-tittle h1{
    margin-bottom: 20px;
    font-size: 22px;
}

.item-container02{
    display: flex;
    margin-top: 60px;
    margin-bottom: 60px;
}

.table-container{
    margin-top: 60px;
}

table{
    width: 100%;
}

tr{
    display: block;
    border-width: 0 0 3px 0;
    border-style: solid;
    border-image: url(../img_home/horizon_line.svg) 30 stretch;
}

th{
    text-align: left;
    padding: 30px;
    width: 100px;
}

td{
    line-height: 1.5;
    padding: 30px;
}

.btn-back{
    font-size: 48px;
    margin: 100px 0 100px 100px;
}

.btn-back a{
    position: relative;
}

.btn-back a::before{
    position: absolute;
    content: "";
    width: 85px;
    height: 2px;
    background: #41403c;
    left: -100px;
    top:30px
}

.btn-back a::after{
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background: #B81905;
    border-radius: 50%;
    left: -30px;
    top:26px;
    transition: .7s;
    transition-timing-function: ease-in-out;
}

.btn-back a:hover::after{
    left:-95px
}

/*contactページ*/
#contact-page{
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}

.contact-area p{
    text-align: center;
    line-height: 1.87;
}

.contact-area{
    width: 735px;
}

.c-form{
    margin-top: 60px;
}

.c-form__item {
	flex-direction: column;
	margin-bottom: 60px;
}

#field-name{
    font-size: 15px;
    font-family: 'Noto Serif JP', '游明朝体', 'ヒラギノ明朝 Pro', 'Garamond', 'Georgia', serif;
}

.c-form__label,
.c-form__input {
	padding: 10px;
}

.c-form__label {
	width: 90%;
    display: flex;
}

.c-form__input {
	font-size: 16px;
	border: solid 1px #41403c;
    background-color: transparent;
	border-radius: 10px;
    width: 100%;
}

.c-form__input:focus-visible {
	outline: #b81905 auto 1px;
}

.c-form__required {
	background-color: transparent;
	margin-left: 10px;
    text-align: center;
}

textarea.c-form__input {
	height: 160px;
}





@media (max-width: 667px) {
	.c-form__item {
		flex-wrap: nowrap;
	}
	.c-form__label {
		width: 40%;
	}
	.c-form__input {
		width: 55%;
	}
}
