@charset "UTF=8";
.header__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2.76%;
    padding-right: 7.28%;
    padding-top: 15px;
    position: absolute;
    width: 100%;
}

.header__nav ul{
    display: flex;
    gap: 70px;
}

.logo{
    width: 227px;
}

.header__nav li{
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium","Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

body{
    background-color: #e8d9bf;
}

.wrapper{
    max-width: 1000px;
    margin: 100px auto;
}

.companyhope{
    text-align: center;
}

.main_text_en{
    font-size: 30px;
    padding-bottom: 60px;
    font-feature-settings: "palt"
}

.main_text{
    font-size: 82px;
    font-weight: medium;
    line-height: 1.17;
    font-feature-settings: "palt"
}

.sub_text{
    padding-top: 40px;
    font-size: 23px;
    line-height: 1.65;
    font-feature-settings: "palt"
}

h3{
    font-family: "fliped";
    font-size: 80px;
    color: #D30202;
    text-align: center;
}

#about h3{
    text-align: start;
}

.sub_tittle{
    font-size: 44px;
    font-weight: medium;
    line-height: 1.39;
    font-feature-settings: "palt";
    padding: 50px 0 35px 0;
}

.about__inner{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    align-items: center;
}

.about__inner img{
    border-bottom-right-radius: 80px;
    height: auto;
}

.about__text{
    padding-left: 80px;
    width: 50%;
}

.about__text p{
    line-height: 1.63;
}

.menu__inner{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.menu__inner img{
    border-top-right-radius: 40px;
}


.gallery__inner{
    display: flex;
    padding-top: 40px;
}

.gallery__inner img{
    width: 20%;
}

h4{
    font-size: 38px;
    color: #D30202;
    font-weight: normal;
    line-height: 0.58;
    font-feature-settings: "palt";
    margin: -7px 0 20px 15px;
}

#menu ul{
    display: flex;
    justify-content: space-between;
}

#menu li{
    width: 32%;
}

#menu img{
    width: 100%;
}

.event__inner{
    background-color: white;
    border: solid 3px black;
    margin-top: 40px;
}

.event__inner ul{
    padding: 40px 10px;
}

.event__inner li{
    display: flex;
    max-width: 680px;
    margin: 0 auto;
}

.event__inner p{
    line-height: 1.96;
    padding-right: 5.7%;
    font-size: 23px;
}

.event__inner div{
    border-bottom: 1px solid #4f260b;
    line-height: 1.96;
    font-size: 23px;
}

.map{
    height: 470px;
    width: 100%;
    filter: grayscale(100%) invert(92%) contrast(83%);
    padding-top: 40px;
}

footer{
    background-color: #ffffff;
    height: 390px;
}

.footer_log img{
    width: 225px;
}

.footer__inner{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    padding: 74px 0;
}
.copyright{
    text-align: center;
}

.information p{
    line-height: 1.95;
    margin-left: 63px;
}

.to_top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 125px;
}

.sp__nav,
.hamburger{
    display: none;
}

/*ハンバーガメニュー*/
@media screen and (max-width:1000px){
    .header__nav{
        display: none;
    }

    .hamburger{
        display: block;
        width: 33px;
        height: 30px;
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
        z-index: 9999;
    }

    .hamburger span{
        width: 33px;
        height: 3px;
        background-color: #fff;
        position: absolute;
        top: 13px;
        transition: .3s;
    }

    .hamburger span::before{
        width: 33px;
        height: 3px;
        background-color: #fff;
        position: absolute;
        content: "";
        top: -13px;
        transition: .3s;
    }

    .hamburger span::after{
        width: 33px;
        height: 3px;
        background-color: #fff;
        position: absolute;
        content: "";
        bottom: -13px;
        transition: .3s;
    }

    .open span{
        background-color: transparent;
    }

    .open span::before{
        transform: rotate(45deg);
        top: 0;
    }

    .open span::after{
        transform: rotate(-45deg);
        bottom: 0;
    }

    .sp__nav{
        background-color: #000000bd;
        position: absolute;
        width: 100%;
        height: 100vh;
        z-index: 9998;
    }

    .sp__nav ul{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .sp__nav li{
        color: #ffffff;
        font-family: "游ゴシック体" , YuGothic, 游ゴシック;
        font-weight: bold;
    }
}

/*SP ブレイクポイント767px*/
@media screen and (max-width:767px){
    .sub_text,
    .about__inner{
        display: none;
    }

    .wrapper{
        margin: 40px auto;
    }

    h3{
        font-size: 47px;
        align-items: center;
    }

/*companyhope*/
    .sp__sub_text{
        line-height: 1.88;
        margin: 20px 20px 0 20px;
    }

    .main_text_en{
        font-size: 17px;
        padding-bottom: 20px;
    }

    .main_text{
        font-size: 38px;
    }

/*about*/
    .sp__about{
        flex-direction: column;
    }

    .sub_tittle{
        font-size: 36px;
        padding: 20px 20px 0 20px;

    }

    .sp__about p{
        font-size: 16px;
        line-height: 1.75;
        padding: 20px;
    }

    #about h3{
        text-align: center;
    }

/*menu*/
    #menu ul{
        flex-direction: column;
        margin: 0 auto;
    }

    #menu li{
        width: 300px;
        margin: 25px 0;
    }

    #menu .menu__inner{
        padding-top: 0;
    }

/*event*/
    #event p{
        font-size: 16px;
    }

    .event__inner li{
        flex-direction: column;
        margin-bottom: 20px;
    }

    .event__inner div{
        font-size: 16px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .event__inner{
        margin: 20px;
    }



/*access*/
    .map{
        height: 190px;
        width: 100%;
        filter: grayscale(100%) invert(92%) contrast(83%);
        padding-top: 20px;
}

/*footer*/
    .footer__inner{
        flex-direction: column;
        padding: 45px 20px;
    }

    .information{
        margin-top: 30px;
    }

    .information p{
        font-size: 18px;
        line-height: 1.73;
        margin: 0;
    }

    .to_top{
        position: fixed;
        bottom: 10px;
        right: 10px;
        width: 80px;
    }
}